openapi: 3.2.0
info:
  version: '1.0'
  title: FIWARE-NGSI v2 Specification API Entry Point API
  description: 'TODO: Add a description'
servers:
- url: http://orion.lab.fiware.org/
tags:
- name: API Entry Point
paths:
  /v2:
    get:
      description: 'This resource does not have any attributes. Instead it offers the initial

        API affordances in the form of the links in the JSON body.

        It is recommended to follow the “url” link values,

        Link or Location headers where

        applicable to retrieve resources. Instead of constructing your own URLs,

        to keep your client decoupled from implementation details.'
      summary: Retrieve API Resources
      tags:
      - API Entry Point
      operationId: Retrieve API Resources
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveApiResourcesResponse'
              example:
                entities_url: /v2/entities
                types_url: /v2/types
                subscriptions_url: /v2/subscriptions
                registrations_url: /v2/registrations
      x-unitTests:
      - request:
          method: GET
          uri: /v2
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: RAW
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers:
            Content-Type: application/json
          body: '{  "entities_url": "/v2/entities",  "types_url": "/v2/types",  "subscriptions_url": "/v2/subscriptions",  "registrations_url": "/v2/registrations"}'
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: Retrieve API Resources1
        x-testDescription: 'This resource does not have any attributes. Instead it offers the initial

          API affordances in the form of the links in the JSON body.

          It is recommended to follow the “url” link values,

          [Link](https://tools.ietf.org/html/rfc5988) or Location headers where

          applicable to retrieve resources. Instead of constructing your own URLs,

          to keep your client decoupled from implementation details.'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
components:
  schemas:
    RetrieveApiResourcesResponse:
      title: Retrieve API Resources response
      example:
        entities_url: /v2/entities
        types_url: /v2/types
        subscriptions_url: /v2/subscriptions
        registrations_url: /v2/registrations
      type: object
      properties:
        entities_url:
          description: URL which points to the entities resource
          example: /v2/entities
          type: string
        types_url:
          description: URL which points to the types resource
          example: /v2/types
          type: string
        subscriptions_url:
          description: 'URL which points to the

            subscriptions resource'
          example: /v2/subscriptions
          type: string
        registrations_url:
          description: 'URL which points to the

            registrations resource'
          example: /v2/registrations
          type: string
      required:
      - entities_url
      - types_url
      - subscriptions_url
      - registrations_url
