openapi: 3.2.0
info:
  version: '1.0'
  title: FIWARE-NGSI v2 Specification Types API
  description: 'TODO: Add a description'
servers:
- url: http://orion.lab.fiware.org/
tags:
- name: Types
paths:
  /v2/types/:
    get:
      description: 'If the `values` option is not in use, this operation returns a JSON array with the entity types.

        Each element is a JSON object with information about the type:

        * `type` : the entity type name.

        * `attrs` : the set of attribute names along with all the entities of such type, represented in

        a JSON object whose keys are the attribute names and whose values contain information of such

        attributes (in particular a list of the types used by attributes with that name along with all the

        entities).

        * `count` : the number of entities belonging to that type.

        If the `values` option is used, the operation returns a JSON array with a list of entity type

        names as strings.

        Results are ordered by entity `type` in alphabetical order.

        Response code:

        * Successful operation uses 200 OK

        * Errors use a non-2xx and (optionally) an error payload. See subsection on "Error Responses" for

        more details.'
      summary: List Entity Types
      tags:
      - Types
      operationId: List Entity Types
      parameters:
      - name: limit
        in: query
        required: false
        description: Limit the number of types to be retrieved.
        schema:
          type: number
          format: double
      - name: offset
        in: query
        required: false
        description: Skip a number of records.
        schema:
          type: number
          format: double
      - name: options
        in: query
        required: false
        x-enum-elements:
        - name: count
          description: ''
        - name: values
          description: ''
        description: Options dictionary.
        schema:
          type: string
          enum:
          - count
          - values
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ListEntityTypesResponse'
              example:
              - type: Car
                attrs:
                  speed:
                    types:
                    - Number
                  fuel:
                    types:
                    - gasoline
                    - diesel
                  temperature:
                    types:
                    - urn:phenomenum:temperature
                count: 12
              - type: Room
                attrs:
                  pressure:
                    types:
                    - Number
                  humidity:
                    types:
                    - percentage
                  temperature:
                    types:
                    - urn:phenomenum:temperature
                count: 7
      x-unitTests:
      - request:
          method: GET
          uri: /v2/types/?limit=10&offset=20
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: RAW
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers:
            Content-Type: application/json
          body: '[  {    "type": "Car",    "attrs": {      "speed": {        "types": [ "Number" ]      },      "fuel": {        "types": [ "gasoline", "diesel" ]      },      "temperature": {        "types": [ "urn:phenomenum:temperature" ]      }    },    "count": 12  },  {    "type": "Room",    "attrs": {      "pressure": {        "types": [ "Number" ]      },      "humidity": {        "types": [ "percentage" ]      },      "temperature": {        "types": [ "urn:phenomenum:temperature" ]      }    },    "count": 7  }]'
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: List Entity Types1
        x-testDescription: "If the `values` option is not in use, this operation returns a JSON array with the entity types.\nEach element is a JSON object with information about the type:\n* `type` : the entity type name.\n* `attrs` : the set of attribute names along with all the entities of such type, represented in\n  a JSON object whose keys are the attribute names and whose values contain information of such\n  attributes (in particular a list of the types used by attributes with that name along with all the\n  entities).\n* `count` : the number of entities belonging to that type.\nIf the `values` option is used, the operation returns a JSON array with a list of entity type\nnames as strings.\nResults are ordered by entity `type` in alphabetical order.\nResponse code:\n* Successful operation uses 200 OK\n* Errors use a non-2xx and (optionally) an error payload. See subsection on \"Error Responses\" for\n  more details."
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /v2/types/{entityType}:
    get:
      description: 'This operation returns a JSON object with information about the type:

        * `attrs` : the set of attribute names along with all the entities of such type, represented in

        a JSON object whose keys are the attribute names and whose values contain information of such

        attributes (in particular a list of the types used by attributes with that name along with all the

        entities).

        * `count` : the number of entities belonging to that type.

        Response code:

        * Successful operation uses 200 OK

        * Errors use a non-2xx and (optionally) an error payload. See subsection on "Error Responses" for

        more details.'
      summary: Retrieve entity type
      tags:
      - Types
      operationId: Retrieve entity type
      parameters:
      - name: entityType
        in: path
        required: true
        description: Entity Type
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveEntityTypeResponse'
              example:
                attrs:
                  pressure:
                    types:
                    - Number
                  humidity:
                    types:
                    - percentage
                  temperature:
                    types:
                    - urn:phenomenum:temperature
                count: 7
      x-unitTests:
      - request:
          method: GET
          uri: /v2/types/Room
        expectedResponse:
          x-allowExtraHeaders: true
          x-bodyMatchMode: RAW
          x-arrayOrderedMatching: false
          x-arrayCheckCount: false
          x-matchResponseSchema: true
          headers:
            Content-Type: application/json
          body: '  {    "attrs": {      "pressure": {        "types": [ "Number" ]      },      "humidity": {        "types": [ "percentage" ]      },      "temperature": {        "types": [ "urn:phenomenum:temperature" ]      }    },    "count": 7  }'
        x-testShouldPass: true
        x-testEnabled: true
        x-testName: Retrieve entity type1
        x-testDescription: "This operation returns a JSON object with information about the type:\n* `attrs` : the set of attribute names along with all the entities of such type, represented in\n  a JSON object whose keys are the attribute names and whose values contain information of such\n  attributes (in particular a list of the types used by attributes with that name along with all the\n  entities).\n* `count` : the number of entities belonging to that type.\nResponse code:\n* Successful operation uses 200 OK\n* Errors use a non-2xx and (optionally) an error payload. See subsection on \"Error Responses\" for\n  more details."
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
components:
  schemas:
    RetrieveEntityTypeResponse:
      title: Retrieve entity type response
      example:
        attrs:
          pressure:
            types:
            - Number
          humidity:
            types:
            - percentage
          temperature:
            types:
            - urn:phenomenum:temperature
        count: 7
      type: object
      properties:
        attrs:
          description: ''
          example:
            pressure:
              types:
              - Number
            humidity:
              types:
              - percentage
            temperature:
              types:
              - urn:phenomenum:temperature
          type: object
        count:
          description: ''
          example: 7
          type: integer
          format: int32
      required:
      - attrs
      - count
    ListEntityTypesResponse:
      title: List Entity Types response
      example:
        type: Car
        attrs:
          speed:
            types:
            - Number
          fuel:
            types:
            - gasoline
            - diesel
          temperature:
            types:
            - urn:phenomenum:temperature
        count: 12
      type: object
      properties:
        type:
          description: ''
          example: Car
          type: string
        attrs:
          description: ''
          example:
            speed:
              types:
              - Number
            fuel:
              types:
              - gasoline
              - diesel
            temperature:
              types:
              - urn:phenomenum:temperature
          type: object
        count:
          description: ''
          example: 12
          type: integer
          format: int32
      required:
      - type
      - attrs
      - count
